# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.YTaxi.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nintoryan\Documents\GitHub\YTaxi\.idea\.idea.YTaxi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
